In [19]:
import mysql.connector

In [20]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
password=""
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001B5976B3250>

In [35]:
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE Authorized_user")

In [36]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('authorized_user',)
('information_schema',)
('mysql',)
('people',)
('performance_schema',)
('phpmyadmin',)

In [23]:
mycursor.execute("drop database test")

In [38]:
mydb=mysql.connector.connect(
host="localhost",
user="root",
password="",
database="Authorized_user"
)
mycursor=mydb.cursor()
mycursor.execute("create table my_table(id int primary key, Name varchar(50), Age int, Address varchar(50))")